body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
}

#qrcode {
    margin-top: 20px;
    text-align: center;
}

.btn-danger {
    background-color: #f44336; 
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.btn-danger {
    background-color: #f44336; 
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #da190b;
}

.btn-primary {
    background-color: #007bff; 
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color:#0056b3;
}

#contactForm button {
    width: 48%; 
    display: inline-block;
}